/* Container holding the image and the text */

div.box {
    padding: 0px;
    margin-right: 0px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  div.container {
      padding: 0px, 0px, 0px, 0px;
  }

  div.media-body{
      margin-left: -250px;
  }

  img {
      width: 200px;
      height: auto;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-style: bold;
  }