
container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    align-self: center;
    z-index: 2;
    position: relative;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    color:white;
    font-kerning: normal;
    text-transform: uppercase;
    margin-top: -30px;
}

#logo{
    margin-top: 150px;
    margin-left: 65px;
    height: 275px;
    width: 220px;
    text-shadow: 100px;
}

#links {
    margin-top: 20px;
}


/* video  */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 1080px;
    order: 1;
    z-index: 1;
}
  


a.button2 {
    padding: 0.5em 3em;
    border: 0.16em solid;
    border-color: #5c9689;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #39ccc7;
    text-align: center;
    transition: all 0.15s;
    display: block;
}

a.button2:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
    display: block;

}

 a.button2:active {
    color:#BBBBBB;
    border-color:#BBBBBB;
    display: block;


 }
  

#about-me {
position: relative;
    height: 1000px;
    width: 100%;
    background-color: white;
    order: 2;
    top: 0%;
    z-index: 3;
    margin-top: 250px;
} 



    @media all and (max-width:30em){
         a.button2 {
            display:block;
            margin:0.4em auto;
         }
        }