
container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

header {
    align-self: center;
    z-index: 2;
    position: relative;
}

.row{
    width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    color:white;
    font-kerning: normal;
    text-transform: uppercase;
    margin-top: -30px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color:#5c9689;
    font-kerning: normal;
    font-size: 60px;
}

#logo{
    margin-top: 150px;
    margin-left: 65px;
    height: 275px;
    width: 220px;
    text-shadow: 100px;
}

#links {
    margin-top: 20px;
}


/* video  */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 1080px;
    order: 1;
    z-index: 1;
    opacity: 75%;
}
  

/* Navigation buttons */
a.button2 {
    padding: 0.5em 3em;
    border: 0.16em solid;
    border-color: #5c9689;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #5c9689;
    text-align: center;
    transition: all 0.15s;
    display: block;
}

a.button2:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
    display: block;

}

 a.button2:active {
    color:#BBBBBB;
    border-color:#BBBBBB;
    display: block;


 }
  

#about-me {
    position: relative;
    height: 800px;
    width: 100%;
    background-color: White;
    order: 2;
    z-index: 3;
    margin-top: 250px;
}

#bio-container{
justify-content: center;
margin-top: 100px;
}

#bio-content{
    align-items: left;
    margin-top: 100px;
}

.button3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: none;
    background-color: #aeb5b3;
    color: white;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

a.button3:hover {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: none;
    background-color:black;
    color: white;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;

}

 a.button3:active {
    color:#BBBBBB;
    border-color:#BBBBBB;


 }

#web-development{
    position: sticky;
    height: 650px;
    width: 100%;
    background-color:  #5c9689;
    order: 2;
    z-index: 3;

} 

#web-development h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: white;
    font-kerning: normal;
    font-size: 60px;
    margin: 50px 0px 0px 50px;
}

#web-buttons {
    justify-content: center;
    margin-top: 100px;
}

#graphic-design{
    position: sticky;
    height: 650px;
    width: 100%;
    background-color: White;
    order: 2;
    z-index: 3;

} 
#graphic-design h2 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: #5c9689;
    font-kerning: normal;
    font-size: 60px;
    margin: 50px 0px 0px 50px;
}

#graphic-buttons {
    justify-content: center;
    margin-top: 100px;
}

    @media all and (max-width:30em){
         a.button2 {
            display:block;
            margin:0.4em auto;
         }
        }