
body{
	display: block;
    margin: 8px;
    font-family: 'Josefin Sans', sans-serif;
}

.pos-f-t ul a{
    color: white;
}

.pos-f-t ul a:hover{
    color: yellow;
    text-decoration: none;
}


header{
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-size: 100px;
}

#italic{
    font-style: italic;
}

.homeDiamonds{
    height: 200px;
}

#aboutImage{
    height: 200px;
}

@media screen and (max-width: 720px){

    h1 {
        font-size: 30px;
        }
    
    .homeDiamonds{
    
        height: 100px;
        padding-bottom: 20px;
    }
    }   

