div {
    font-family: 'PT Sans', sans-serif;
}

.contact-background {
    background-color: darkgray;
    margin-top: 25px;
    padding: 50px;
   width: 100%;
   position: relative;
   top: 200px;
}

ul a {
    text-decoration: none;
    color: white;
}

ul a:link {
    text-decoration: none;
    color: white;
}

ul a:hover{
    color: black;
    text-decoration: none;
}

ul a:active {
    color: darkgray;
}



ul {
    list-style: none;
    font-size: 20px;
    color: white;
}

#contact-layer {
    height: 60px;
    font-size: 40px;
}